body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: rgb(12, 12, 60);
    padding: 20px 0;
}

.box {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav ul {
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}

nav li {
    display: inline-block;
    padding: 10px;
    margin: 2px;
    transition: background-color 0.5s;
}

nav li:hover {
    background-color: rgb(99, 99, 121);
}

nav a {
    color: rgb(185, 183, 183);
    text-decoration: none;
    padding: 10px;
    font-size: 22px;
}

.banner {
    width: 100%;
}

.main-title {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.main-section {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.main-section p {
    margin: 0 0 2em;
}

.main-section strong {
    font-weight: bold;
}

.main-section em {
    font-style: italic;
}

.mission {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

p#mission {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.map {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.map p {
    margin: 0 0 2em;
    text-align: center;
}

.map-content {
    width: 940px;
    margin: 0 auto;
}

.benefits {
    padding: 3em 0;
    background: #888888;
}

.benefits-content {
    width: 640px;
    margin: 1em auto;
}

.benefits-list {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items {
    line-height: 1.5;
}

.items:first-child {
    font-weight: bold;
}

.items::before {
    content: "🟊";
}

.about-img {
    width: 60%;
    opacity: 1;
    transition: opacity 400ms;
    box-shadow: 10px 10px 10px 0 rgb(37, 37, 37);
}

.about-img:hover {
    opacity: 0.3;
}

/*Products page*/

.products-section {
    width: 940px;
    margin: 0 auto;
}

.products {
    padding: 50px 0;
}

.products li {
    display: inline-block;
    text-align: center;
    width: 40%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.products li:hover {
    border-color: #788ff8;
}

.products li:active {
    border-color: yellow;
}

.products li:hover h2 {
    font-size: 34px;
}

.products h2 {
    font-size: 30px;
    font-weight: bold;
}

.product-price {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.product-description {
    font-size: 18px;
}

footer {
    text-align: center;
    background-color: rgb(6, 25, 49);
    padding: 40px;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 15px;
}

/*Contact page*/

.main-contact {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-default {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.submit-button {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.submit-button:hover {
    background: rgb(170, 94, 2);
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}

@media screen and (max-width: 480px) {
    .box, .main-section, .mission, .map-content, .benefits-content,
    .products-section, .products-section, .main-contact {
		width: auto;
	}

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    nav ul {
        font-size: 5px;
    }

    nav li {
        padding: 6px;
        margin: 3px;
    }

    .benefits-list, .about-img {
        width: 100%;
    }

    .products li {
        display: block;
        width: 90%;
        margin: 10px auto;
    }

    .main-contact {
        margin: auto;
    }

    .form-contact {
        width: 90%;
        margin: 10px auto;
    }
}